<!-- $Id: discount_list.htm 17043 2010-02-26 10:40:02Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js,../js/jquery.min.js,../js/common.js"}
<!-- start payment list -->
<div class="list-div" id="listDiv">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th>折扣码</th>
    <th>折扣率%(留空为不支持)</th>
    <th nowrap="true">直减价格(单位缺省，默认为人民币元，留空为不支持)</th>
    <th nowrap="true">用户注册邮箱</th>
    <th nowrap="true">商品分类</th>
    <th>商品货号</th>
    <th>使用次数(0:无数次)</th>
    <th>过期时间</th>
    <th>备注</th>
    <th>更新时间</th>
    <th>操作</th>
  </tr>
  
  {foreach from=$coupons_list item=coupons}
  <tr>
  	<td>{$coupons.coupons_code}</td>
  	<td>{$coupons.coupons_rate}</td>
  	<td>{$coupons.coupons_subtracting_amount}</td>
  	<td>{$coupons.user_email}</td>
  	<td>{$coupons.cat_name}</td>
  	<td>{$coupons.goods_sn}</td>
  	<td>{$coupons.use_times}</td>
  	<td>{$coupons.expiration_time}</td>
  	<td>{$coupons.Remarks}</td>
  	<td>{$coupons.insert_date}</td>
  	<td><a href="?act=edit&coupons_id={$coupons.coupons_id}">{$lang.edit}</a>/<a href="javascript:;" onclick="delCoupons({$coupons.coupons_id});">{$lang.drop}</a></td>
  </tr>
  {/foreach}
</table>
</div>
<!-- end payment list -->
<script type="Text/Javascript" language="JavaScript">
<!--
function delCoupons(coupons_id){
	if(!coupons_id){
		return ;
	}
	if(window.confirm('你确定要删除该记录！')){
		shopAjax('discount.php?act=del','POST',{'coupons_id':coupons_id},function(json)
		{
			if(json.Ret > 0)
			{
				alert("删除成功");
				location.reload();
				return;
			}else{
				alert("删除失败");return ;
			}
		});
     }else{
        //alert("取消");
        return false;
    }
}
//-->
</script>
{include file="pagefooter.htm"}