<!-- $Id: discount_list.htm 17043 2010-02-26 10:40:02Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js,../js/jquery.min.js,../js/common.js"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<!-- start payment list -->
<div class="list-div" id="listDiv">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th>折扣码</th>
    <th>折扣率%(留空为不支持)</th>
    <th nowrap="true">直减价格</th>
    <th nowrap="true">用户注册邮箱</th>
    <th nowrap="true">商品类型</th>
    <th>商品名字</th>
    <th>使用次数(0:无数次)</th>
    <th>过期时间</th>
    <th>备注</th>
  </tr>
  <tr>
  	<td><input type="text" name="coupons_code" id="coupons_code" value=""></td>
  	<td><input type="text" name="coupons_rate" id="coupons_rate" value=""></td>
  	<td><input type="text" name="coupons_subtracting_amount" id="coupons_subtracting_amount" value=""></td>
  	<td><input type="text" name="user_email" id="user_email" value=""></td>
  	
  	<td>
  	<select name="cat_id" id="cat_id" onchange="hideCatDiv()" ><option value="0">{$lang.select_please}</option>{$cat_list}</select>
    </td>
  	<td><input type="text" name="goods_name" id="goods_name" value="" onclick="clearGoodsname();"></td>
  	<td><input type="text" name="use_times" id="use_times" value=""></td>
  	<td>
  	<input name="promote_start_date" type="text" id="promote_start_date" size="12" value='' readonly="readonly" />
  	<input name="selbtn1" type="button" id="selbtn1" onclick="return showCalendar('promote_start_date', '%Y-%m-%d', false, false, 'selbtn1');" value="{$lang.btn_select}" class="button"/>
  	<!-- <input type="text" name="expiration_time" id="expiration_time" value="{$expiration_time}"> -->
  	</td>
  	<td><input type="text" name="Remarks" id="Remarks" value=""></td>
  </tr>
  <tr><td><input type="button" name="btn" id="btn" onclick="submitForm();" value="添加"></td>
  <td><a href="discount.php?act=list">返回列表</a></td>
  </tr>
</table>
</div>
<!-- end payment list -->
<script type="Text/Javascript" language="JavaScript">
function clearGoodsname(){
	var goods_name = $('#goods_name').val();
	if(goods_name=='--'){
		$('#goods_name').val("");
		return true;
	}
	return true;
}
function submitForm(){
	var coupons_code = $("#coupons_code").val();
	var coupons_rate = $("#coupons_rate").val();
	var coupons_subtracting_amount = $("#coupons_subtracting_amount").val();
	if(coupons_rate && coupons_subtracting_amount){
		alert("折扣率和直减价格，只能选其一");
		return false;
	}
	var user_email = $("#user_email").val();
	var cat_id = $("#cat_id").val();
	var goods_name = $("#goods_name").val();
	var use_times = $("#use_times").val();
	var expiration_time = $("#promote_start_date").val();
	var Remarks = $("#Remarks").val();
	var goods_id = {if $goods_id}{$goods_id}{else}''{/if};
	shopAjax('discount.php?act=insert','POST',{'goods_id':goods_id,'coupons_code':coupons_code,'coupons_rate':coupons_rate,'coupons_subtracting_amount':coupons_subtracting_amount,
		'user_email':user_email,'cat_id':cat_id,'goods_name':goods_name,'use_times':use_times,'expiration_time':expiration_time,'Remarks':Remarks
	},function(json)
	{
		if(json.Ret > 0)
		{
			alert("添加成功");
			location.href = 'discount.php?act=list';
			return;
		}else if(json.Ret == -1){
			alert("添加失败，该折扣券码已经存在");return;
		}else{
			alert("添加失败");return;
		}
	});
}
</script>
{include file="pagefooter.htm"}