<!-- $Id: discount_list.htm 17043 2010-02-26 10:40:02Z sxc_shop $ -->
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}
<!-- start payment list -->
<div class="list-div" id="listDiv">
<table cellspacing='1' cellpadding='3'>
  <tr>
    <th>折扣码</th>
    <th>折扣率%(留空为不支持)</th>
    <th nowrap="true">直减价格(单位缺省，默认为人民币元，留空为不支持)</th>
    <th nowrap="true">用户注册邮箱</th>
    <th nowrap="true">商品类型</th>
    <th>商品名字</th>
    <th>使用次数(0:无数次)</th>
    <th>过期时间</th>
    <th>备注</th>
    <th>更新时间</th>
    <th>操作</th>
  </tr>
  
  {foreach from=$coupons_list item=coupons}
  <tr>
  	<td>{$coupons.coupons_code}</td>
  	<td>{$coupons.coupons_rate}</td>
  	<td>{$coupons.coupons_subtracting_amount}</td>
  	<td>{$coupons.user_email}</td>
  	<td>{$coupons.cat_name}</td>
  	<td>{$coupons.goods_name}</td>
  	<td>{$coupons.use_times}</td>
  	<td>{$coupons.expiration_time}</td>
  	<td>{$coupons.Remarks}</td>
  	<td>{$coupons.insert_date}</td>
  	<td><a href="?act=edit&coupons_id={$coupons.coupons_id}">编辑</a>/<a href="">删除</a></td>
  </tr>
  {/foreach}
</table>
</div>
<!-- end payment list -->
<script type="Text/Javascript" language="JavaScript">
<!--

//-->
</script>
{include file="pagefooter.htm"}